.App {
  text-align: center;
  color: white;
  background-color: rgb(36, 44, 44);
  height: 100%;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 1px;
}

.techstack-image {
  display: inline-block;
  margin: 5px 20px;
  padding: 5px;
  height: 128px;
  width: 128px;
}

.image-container {
  text-align: center;
}

.image {
  border-radius: 100px;
  display: inline-block;
  margin: 5px 20px;
  padding: 5px;
  height: 320px;
  width: 400px;
}

h1 {
  font-size: 42px;
  font-family: 'Montserrat', sans-serif;
  padding: 1px;
  text-align: center;
}

h2 {
  color: lightseagreen;
  margin-top: -25px;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: large;
}

p {
  font-family: 'Roboto', sans-serif;
  padding: 50px;
  font-size: x-large;
}