.App {
  text-align: center;
  color: white;
  background-color: rgb(33, 36, 36);
  height: 100%;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 1px;
}

.techstack-image {
  display: inline-block;
  margin: 5px 20px;
  padding: 5px;
  height: 128px;
  width: 128px;
}

.image-container {
    padding: 50px;
  display: inline-block;
  width: 100%;
  text-align: center;
}

.image {
  vertical-align: middle;
  border-radius: 10px;
  display: inline-block;
  margin: 5px 20px;
  padding: 5px;
  height: 240px;
  width: 300px;
}

h1 {
  font-size: 42px;
  font-family: 'Montserrat', sans-serif;
  padding: 1px;
  text-align: center;
}

h2 {
  color: white;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 38px;
}

.description {
  color: white;
  margin-top: -25px;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: large;
}

.text {
  font-family: 'Roboto', sans-serif;
  font-size: x-large;
}